body {
    margin: 0;
    font-family: Arial;
    background: #f5f7fa;
}

/* NAVBAR */
header {
    background: #0a192f;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 50px;
    background: white;
}

.hero img {
    width: 150px;
    border-radius: 50%;
}

.buttons {
    margin-top: 20px;
}

button, .btn-outline {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background: #0a192f;
    color: white;
    border: none;
}

.btn-outline {
    border: 2px solid #0a192f;
    color: #0a192f;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 40px;
    text-align: center;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* FORM */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
}

/* FOOTER */
footer {
    background: #0a192f;
    color: white;
    text-align: center;
    padding: 15px;
}
